name: Schema validation and sync
on:
  pull_request:
    paths:
      - 'customer-config/**/**.json'
      - '.github/workflows/ccc-schema-pr.yaml'
  push:
    branches:
      - master

jobs:
  validate_and_sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get all changed schema files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: |
            customer-config/**/**.json

      - uses: extenda/actions/gcp-secret-manager@v0
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          service-account-key: ${{ secrets.SECRET_AUTH }}
          secrets: |
            AUTH_EMAIL: ccc-sync-admin
            AUTH_PASS: ccc-sync-pass
            AUTH_KEY: iam-api-key-prod

      - name: Set modified files in one line
        if: steps.changed-files.outputs.any_changed == 'true'
        shell: bash
        run: |
          echo "CHANGED_FILES=$(echo ${{ steps.changed-files.outputs.all_changed_files }} | tr -s ' ' ';')" >> $GITHUB_ENV

      - name: Prepare action
        if: steps.changed-files.outputs.any_changed == 'true'
        run: npm ci --prefix .github/actions/sync-action

      - name: Validate and sync schema (dru-run=true) - feature branch
        if: steps.changed-files.outputs.any_changed == 'true' && github.ref != 'refs/heads/master'
        uses: ./.github/actions/sync-action
        with:
          schema-files: ${{ env.CHANGED_FILES }}
          dry-run: "true"

      - name: Validate and sync schema (dru-run=false) - master branch
        if: steps.changed-files.outputs.any_changed == 'true' && github.ref == 'refs/heads/master'
        uses: ./.github/actions/sync-action
        with:
          schema-files: ${{ env.CHANGED_FILES }}
          dry-run: "false"
